@import '../../common/styles/sass/variables.scss';

.container {
    width: 100vw;
    height: 90vh;
    max-height: 90vh ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $light;
}