@import '../../common/styles/sass/variables.scss';

.homeBlock {
    background-color: $light;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .nav {
        background-color: #fff;
        align-items: center;
        display: flex;
        justify-content: space-around;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
        line-height: 1.5;
        box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
        .navContainer {
            width: 87%;
            max-width: 1300px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-family: system-ui,-apple-system, sans-serif;
            font-size: 1.25rem;
            padding-bottom: 0.3125rem;
            padding-top: 0.3125rem;
            .navBtn {
                background-color: #0d6efd;
                border-color: #0d6efd;
                color: #fff;
                padding: 15px;
                border-radius: 0.25rem;
                font-size: 1rem;
                text-decoration: none;
                border: none;
                padding: 10px;
                cursor: pointer;
            }
            & > a {
                text-decoration: none;
                color: $dark;
                cursor: pointer;
            }
        }
    }
    .container {
        width: 92%;
        max-width: 1320px;
        border-radius: 0.25rem;
        margin: 1.5rem auto;
        height: 100%;
        box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
        height: 100%;
        display: flex;
        overflow-y: visible;
        overflow-x: hidden;
        @media screen and (max-width: 700px) {
            margin: 1.5rem 0;
            width: 100%;
        }
        .channelsBlock {
            min-width: 220px;
            display: flex;
            flex-direction: column;
            background-color: $light;
            padding-top: 3rem;
            overflow: auto;
            @media screen and (max-width: 700px) {
                min-width: 135px;
            }
            .channelsAdd {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 20px;
                font-size: 1rem;
                font-family: system-ui,-apple-system, sans-serif;
                padding-left: 1.5rem;
                padding-right: 0.8rem;
                .addChannelBtn {
                    border-color: $blue;
                    color: $blue;
                    border-radius: 0.25rem;
                    font-size: 1rem;
                }
            }
            ul {
                display: list-item;
                list-style: none;
                margin-top: 0;
                margin-bottom: 0;
                display: flex;
                flex-direction: column;
                padding: 0 0.5rem;
                .channelNotActive {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    position: relative;
                    white-space: nowrap;
                    .channelBtn {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        cursor: pointer;
                        border-radius: 0;
                        text-align: left;
                        width: 100%;
                        background-color: transparent;
                        border: 1px solid transparent;
                        color: $dark;
                        font-family: system-ui,-apple-system, sans-serif;
                        font-size: 1rem;
                        font-weight: 400;
                        line-height: 1.5;
                        padding: 0.375rem 0.75rem;
                        text-decoration: none;
                        overflow-x: hidden;
                    }
                }   
                .channelActive {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background-color: $light;
                    position: relative;
                    white-space: nowrap;
                    .channelActiveBtn {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        cursor: pointer;
                        border-radius: 0;
                        text-align: left;
                        width: 100%;
                        background-color: transparent;
                        border: 1px solid transparent;
                        color: $dark;
                        font-family: system-ui,-apple-system, sans-serif;
                        font-size: 1rem;
                        font-weight: 400;
                        line-height: 1.5;
                        padding: 0.375rem 0.75rem;
                        text-decoration: none;
                        background-color: #6c757d;
                        border-color: #6c757d;
                        color: #fff;
                        overflow-x: hidden;
                        &:hover {
                            background-color: #444647;
                        }
                    } 
                }
            }
        }
        .messageBlock {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            background-color: #fff;
            overflow-x: hidden;
            .info {
                height: 74px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: left;
                padding: 1rem;
                margin-bottom: 1.5rem;
                box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
                font-size: 1rem;
                background-color: $light;
            }
            .messageBox {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                word-break: break-all;
                padding-left: 3rem;
                padding-right: 3rem;
                flex-grow: 1;
            }
            .formBlock {
                width: 100%;
                min-height: 76px;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                padding: 1rem 3rem;
                .form {
                    width: 100%;
                    margin: 0 auto;
                    display: flex;
                    padding: 0px 0;
                    position: relative;
                    border: none;
                    .formInput {
                        width: 100%;
                        font-family: system-ui,-apple-system, sans-serif;
                        font-size: 1rem;
                        border-radius: 0.25rem;
                        border: 1px solid #dee2e6;
                        &:focus {
                            border: rgba(13, 164, 240, 0.4) solid 4px;
                            border-radius: 0.25rem;
                            outline: none;
                        }
                    }
                    .errorMessage {
                        padding-left: 3px;
                        position: absolute;
                        width: 200px;
                        background-color: rgba(220,53,69,.9);
                        top: -22px;
                        left: 0;
                        color: #fff !important;
                        border-radius: 0.25rem;
                        font-family: system-ui,-apple-system,"Segoe UI", sans-serif;
                        font-size: 0.9rem;
                        opacity: 0.9;
                    }
                    .formBtn {
                        position: absolute;
                        content: "";
                        width: 28px;
                        height: 28px;
                        right: 11px;
                        top: 8px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .arrow {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
}