html {
  background-color: rgb(220, 224, 228);
}

* {
  box-sizing: border-box;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main {
  background-color: rgb(167, 207, 247);
}

/* .nav {
  display: flex;
  width: 100vw;
  height: 5vh;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: aliceblue;

} */

.container {
  margin: 15px 15vw;
  display:flex;
  flex-wrap:wrap ;
  justify-content: flex-start;
  height: 90vh;
}

.channels {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  border-style: ridge;
  background-color: rgb(238, 238, 238);
  padding: 20px;
  
}

.message-container {
  flex-grow: 8;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  background-color: white;
}

.info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-left: 20px;
  justify-content: center;
  align-items: left;
  background-color: rgb(238, 238, 238);
  border-style: ridge;
}

.btn-primary {
  font-size: 1rem;
  padding: 4px;
}

.info-channel {
  font-size: 18px;
  font-weight: bold;
}

.message-box {
  flex-grow: 18;
}

.form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  padding: 20px 40px;
}

.form-control {
  flex-grow: 99;
  border: none;
  font-size: 19px;
}

.form-control:focus {
  outline: none;
}

.form-button {
  flex-grow: 1;
  font-size: larger;
}

.but {
  background-color: rgb(240, 239, 194);
}

.chanels-add {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.form-box {
  display: flex;
  border-style: ridge;
  width: 100%;
  padding: 10px;
}

.container-login {
  background-color: rgb(238, 238, 238);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-top {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
  border-style: ridge;
  border-color: rgb(229, 229, 230);
  width: 55%;
  height: 37%;

}

.login-footer {
  display: flex;
  justify-content: center;
  background-color: rgb(238, 238, 238);
  border-style: ridge;
  width: 55%;
  box-sizing: border-box;
  padding: 25px;
}

.login-img {
  margin: 50px;
  height:min-content;
  border-radius: 50%;
  image-rendering:initial;
}

.img-container {
  flex: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25vw
}

.loginform-item {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin-bottom: 25px;
}

.form-btns {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.login-input {
  font-size: 18px;
  height: 55px;
}




