html {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.form {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  width: 15vw;
}

.form-item {
  height: 2vw;
}

button {
  margin-top: 40px;
  height: 2vw;
}

