@import '../../common/styles/sass/variables.scss';

.regBlock {
    background-color: #f8f9fa;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .container {
        width: 100%;
        height: 100%;
        display:flex;
        flex-wrap:wrap ;
        justify-content: flex-start;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        margin: 0 auto;
        .containerMid {
            // background-color: aqua;
            height: 100%;
            width: 100%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .formBlock {
                width: 66.6%;
                max-width: 900px;
                background-color: #fff;
                border: 1px solid rgba(0,0,0,.125);
                border-radius: 0.25rem;
                display: flex;
                flex-wrap: wrap;
                padding: 3rem;
                line-height: 24px;
                word-wrap: break-word;
                color: #212529;;
                @media screen and (max-width: 700px) {
                    width: 100%;
                }
                .imgContainer {
                    width: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-left: 12px;
                    padding-right: 12px;
                    @media screen and (max-width: 700px) {
                        width: 100%;
                    }
                    .loginImg {
                        border-radius: 50%;
                    }
                }
                .form {
                    width: 50%;
                    margin-top: 1rem;
                    padding-left: 12px;
                    padding-right: 12px;
                    @media screen and (max-width: 700px) {
                        width: 100%;
                    }
                    & > h1 {
                        text-align: center;
                        margin-bottom: 1.5rem;
                        font-size: 2.5rem;
                        font-weight: 500;
                        line-height: 1.2;
                        margin-top: 0;
                        color: #212529;
                        font-family: system-ui,-apple-system,"Segoe UI", sans-serif;
                        @media screen and (max-width: 1200px) {
                            font-size: calc(1.375rem + 1.5vw);
                        }
                    }
                }
            }
        }
    }
}

